/* Global section */
body {
	display: flex;
	font-family: "Single Day";
	height: 100vh;
	margin: 0%;
}

/* Background section */
.box1 {
	border: 0;
	width: 35%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

img {
	width: 100%;
	height: 100%;
}

.logo {
	display: flex;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding-left: 50%;
	padding-right: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
	border: 0;
	margin-bottom: 60%;
	font-size: 5rem;
	font-weight: bolder;
}

.logo-image {
	width: 50%;
	height: auto;
	padding-left: 10px;
}
.box2 {
	border: solid red 5px;
	width: 65%;
}

/* Form section */
header {
	border: solid blueviolet 5px;
}

form {
	border: solid green 5px;
	padding: 15%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer {
	border: solid pink 5px;
}

fieldset {
	border: 0;
	margin: auto;
	padding: 20px;
}

.form-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	justify-content: space-between;
}

label {
	margin-bottom: 5px;
	font-weight: bold;
}

.align-left,
.align-right {
	display: flex;
	flex-direction: column;
	padding: 15px;
}
