/* Global section */
body {
	display: flex;
	font-family: "Single Day";
	height: 100vh;
	margin: 0%;
}

/* Background section */
.box1 {
	border: 0;
	width: 40%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

img {
	width: 100%;
	height: 100%;
}

.logo {
	display: flex;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding-left: 50%;
	padding-right: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
	border: 0;
	margin-bottom: 60%;
	font-size: 5rem;
	font-weight: bolder;
}

.logo-image {
	width: 50%;
	height: auto;
	padding-left: 10px;
}
.box2 {
	width: 65%;
}

/* Form section */
header {
	border: 0;
	padding-top: 20px;
	padding-bottom: 15px;
	background-color: rgba(234, 232, 232);
}

form {
	border: solid green 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

footer {
	border: solid pink 5px;
	background-color: rgba(234, 232, 232);
}

fieldset {
	border: 0;

	display: flex;
}

.form-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

label {
	font-weight: bold;
}

.align-left,
.align-right {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.header-text-1,
.header-text-2 {
	font-size: 1.5rem;
	padding: 20px;
	margin-top: 5%;
	margin-left: 15px;
	max-width: 80%;
}

.header-text-2 {
	margin-top: 0;
}

p {
	font-size: 1.5rem;
	margin-bottom: 0;
	margin-left: 20px;
}

.align-left {
	margin-right: 80px;
}
